@model TiendaMVC.Models.User

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        <button type="submit">Ingresar</button>
    </div>
    <div style="color:red;">
        @ViewBag.Error
    </div>
}
